//font-family
$base-font-family: "Microsoft YaHei", "SimHei", "STHeiti", sans-serif !default;

//class .fa margin-right
$fa-margin-right: 4px !default;

$head-height: 60px;
$left-width: 240px;
$mid-width: 260px;

$cate-active-color: #eee;
$task-active-color: #ffe;

$modal-width: 320px;
$modal-height: 180px;


